---
import LayoutDefault from '@layouts/LayoutDefault.astro';
import Hero from '@components/ui/Hero.astro';
import ContentVertical from '@components/position/ContentVertical.astro';
import Btn from '@components/ui/Btn.astro';
import ContentHorizontal from '@components/position/ContentHorizontal.astro';
import CopySection from '@components/ui/CopySection.astro';
import { Icon } from 'astro-icon/components';
import Grid3 from '@components/position/Grid3.astro';
import AccordionDropdown from '@components/ui/AccordionDropdown.astro';
import Accordion from '@components/ui/Accordion.astro';
import { Image } from 'astro:assets';
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@i18n/utilities';

import AskImage from '../../images/ask.png';
import BIImage from '../../images/BI.png';
import createImage from '../../images/create.png';
import HeroImage from '../../images/Herocropped.png';
import TrustImage from '../../images/Trust.png';
import partnerImageBPCE from '../../images/partners/bpce.webp';
import partnerImageMinesPSL from '../../images/partners/mines-paris.webp';
import partnerImagePoshMark from '../../images/partners/poshmark.webp';
import partnerImageZoho from '../../images/partners/zoho.webp';
import partnerImageInnodatatics from '../../images/partners/innodatatics.webp';
import partnerImageCavesNotreDame from '../../images/partners/caves-notre-dame.webp';

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<LayoutDefault>
  <Hero>
    <ContentVertical>
      <h1 class="!text-white">
        Travaillez plus efficacement et restez organisé avec notre collègue IA
      </h1>
      <p>
        Connectez Ansearch à vos outils de travail, pour automatiser vos taches
        et accéder plus facilement à vos informations.
      </p>
      <em>un "Perplexity" pour votre travail (et beaucoup plus)</em>
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://cal.com/olivia-maraval-cal"
      >
        <Btn variant="on-color">
          {translation.cta}
          <Icon name="fa7-solid:arrow-right" />
        </Btn>
      </a>
      <Image src={HeroImage} class="h-auto md:max-w-lg" alt="Hero" />
    </ContentVertical>
  </Hero>
  <ContentVertical whiteBackground>
    <p class="text-stone-500">Notre experience</p>
    <Grid3>
      <Image
        class="object-cover mx-auto md:max-w-52 md:max-h-10 h-auto w-auto"
        src={partnerImageBPCE}
        alt="BPCE"
      />
      <Image
        class="object-cover mx-auto md:max-w-52 md:max-h-10 h-auto w-auto"
        src={partnerImagePoshMark}
        alt="PoshMark"
      />
      <Image
        class="object-cover mx-auto md:max-w-52 md:max-h-10 h-auto w-auto"
        src={partnerImageZoho}
        alt="Zoho"
      />
      <Image
        class="object-cover mx-auto md:max-w-52 md:max-h-10 h-auto w-auto"
        src={partnerImageMinesPSL}
        alt="Mines PSL"
      />
      <Image
        class="object-cover mx-auto md:max-w-52 md:max-h-10 h-auto w-auto"
        src={partnerImageInnodatatics}
        alt="Innodatatics"
      />
      <Image
        class="object-cover mx-auto md:max-w-52 md:max-h-10 h-auto w-auto"
        src={partnerImageCavesNotreDame}
        alt="Caves Notre Dame"
      />
    </Grid3>
  </ContentVertical>

  <!-- 
  <ContentVertical>
    <h2 class="text-3xl font-bold">
      You spend 19% of your time gathering information and 62% on mundane tasks.
      <br />
      <em class="text-amber-600">
        We help you unlock the true power of AI and automation
      </em>
    </h2>
  </ContentVertical> -->

  <ContentHorizontal>
    <CopySection>
      <Fragment slot="header-caption">
        <Icon name="fa7-solid:magnifying-glass" />
        Hive knowledge (search & ask)
      </Fragment>
      <Fragment slot="header-title">
        Trouvez vos infos instantanément, peu importe où elles se trouvent
      </Fragment>
      <Fragment slot="content">
        Ansearch cherche et trouve les information importantes, quelles soient
        dans un drive, un CRM ou enfouies dans un chat. Ne vous inquiétez plus
        des silos d'informations, et gagnez du temps pour accueillir les
        nouveaux employés.
      </Fragment>
    </CopySection>
    <Image src={AskImage} class="h-auto md:max-w-lg" alt="Ask" />
  </ContentHorizontal>

  <ContentHorizontal>
    <CopySection>
      <Fragment slot="header-caption">
        <Icon name="fa7-solid:file-pen" />
        Bee-ditor
      </Fragment>
      <Fragment slot="header-title">
        Co-creez avec l'IA, écrivez mieux, plus vite
      </Fragment>
      <Fragment slot="content">
        Ansearch utilise les connaissances internes de votre entreprise pour
        vous aider à créer, résumer et personnaliser des propositions, des
        rapports, des PRDs, des emails ou tout le texte dont vous avez besoin
        pour votre travail. Notre simple éditeur de texte supporte les
        raccourcis markdown pour écrire encore plus vite.
      </Fragment>
    </CopySection>
    <Image src={createImage} class="h-auto md:max-w-lg" alt="Create" />
  </ContentHorizontal>

  <ContentHorizontal>
    <CopySection>
      <Fragment slot="header-caption">
        <Icon name="streamline:decent-work-and-economic-growth-solid" />
        Bee-zness intelligence
      </Fragment>
      <Fragment slot="header-title">
        Restez à jour avec un aperçu complet de votre organisation
      </Fragment>
      <Fragment slot="content">
        Créez des agents IA qui vont vous aider à rester à jour avec votre
        organisation, en utilisant simplement du texte. Restez à jour sur votre
        funnel de vente, le progrès de votre roadmap, les finances... Il n'y a
        pas de limites, à vous de choisir vos rapports.
      </Fragment>
    </CopySection>
    <Image src={BIImage} class="h-auto md:max-w-lg" alt="BI" />
  </ContentHorizontal>

  <ContentHorizontal whiteBackground>
    <CopySection>
      <Fragment slot="header-caption">
        <Icon name="streamline:shield-check-solid" />
        Notre engagement
      </Fragment>
      <Fragment slot="header-title">
        Sécurité maximum
        <br />
        ZERO data copiées
      </Fragment>
      <Fragment slot="content">
        Vos données sont importantes et sensibles, c'est pourquoi nous ne les
        copions pas. Notre approche unique permet à nos systèmes de fonctionner
        sans enregistrer vos données, une fois nos AIs terminés, toutes les
        informations de vos applications sont supprimées.
        <br /> Et bien sûr, nous ne vendons jamais vos données et nous ne les utilisons
        pas pour entrainer des IA.
      </Fragment>
      <Fragment slot="footer">
        <a href={translatePath('/policies/security')}>
          <Btn variant="link">
            En savoir plus à propos de notre sécurité
            <Icon name="fa7-solid:arrow-right" />
          </Btn>
        </a>
      </Fragment>
    </CopySection>
    <Image src={TrustImage} class="h-auto md:max-w-lg" alt="Trust" />
  </ContentHorizontal>

  <ContentHorizontal>
    <CopySection>
      <Fragment slot="header-title"> FAQ </Fragment>
      <Fragment slot="content">
        Vous ne trouvez pas la réponse que vous cherchiez?
      </Fragment>
      <Fragment slot="footer">
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://cal.com/olivia-maraval-cal"
        >
          <Btn>
            {translation.cta}
            <Icon name="fa7-solid:arrow-right" />
          </Btn>
        </a>
      </Fragment>
    </CopySection>
    <Accordion>
      <AccordionDropdown>
        <Fragment slot="header"
          >Est-ce que mes données sont utilisées pour entrainer des IA?</Fragment
        >
        <Fragment slot="content">
          Non, nous ne les faisons pas et nous ne le ferons jamais.
        </Fragment>
      </AccordionDropdown>
      <AccordionDropdown>
        <Fragment slot="header">Quelle est votre tarif?</Fragment>
        <Fragment slot="content">
          Nous sommes toujours en train d'expérimenter notre tarif. Pour le
          moment, chaque contrat est unique.
        </Fragment>
      </AccordionDropdown>
      <AccordionDropdown>
        <Fragment slot="header">Avez-vous un essai gratuit?</Fragment>
        <Fragment slot="content">
          Nous offrons des essais gratuits au cas par cas. Contactez nous pour
          en savoir plus.
        </Fragment>
      </AccordionDropdown>
      <AccordionDropdown>
        <Fragment slot="header"
          >Est-ce possible d'héberger votre solution (self-hosting)?</Fragment
        >
        <Fragment slot="content">
          Oui, nous offrons une option de hébergement sur demande pour le plan
          entreprise.
        </Fragment>
      </AccordionDropdown>
    </Accordion>
  </ContentHorizontal>
</LayoutDefault>
