---
import { getLangFromUrl } from '@/i18n/utilities';

const { categories, tags } = Astro.props;

const currentUrl = new URL(Astro.url);
const lang = getLangFromUrl(Astro.url);
const getTranslation = (key: string, lang: string) => {
  const translations: Record<string, Record<string, string>> = {
    en: {
      categories: 'Categories',
      tags: 'Tags',
      reset: 'Reset filters',
    },
    fr: {
      categories: 'Catégories',
      tags: 'Étiquettes',
      reset: 'Réinitialiser les filtres',
    },
  };
  return translations[lang]?.[key] ?? key;
};
const activeCategory = currentUrl.searchParams.get('category');
---

<div class="filters-mobile">
  <div class="filters-head">
    <form method="get">
      <input
        type="text"
        name="q"
        placeholder={lang === 'fr' ? 'Rechercher...' : 'Search...'}
        value={currentUrl.searchParams.get('q') || ''}
        class="search-input"
      />

      {
        [...currentUrl.searchParams.entries()].map(([key, value]) =>
          key !== 'q' ? <input type="hidden" name={key} value={value} /> : null,
        )
      }
    </form>
    <button id="toggle-filters">
      <svg
        class="filters-icon"
        style="vertical-align: middle;fill: currentColor;overflow: hidden;"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M640 288a64 64 0 1 1 0.032-128.032A64 64 0 0 1 640 288z m123.456-96c-14.304-55.04-64-96-123.456-96s-109.152 40.96-123.456 96H128v64h388.544c14.304 55.04 64 96 123.456 96s109.152-40.96 123.456-96H896V192h-132.544zM640 864a64 64 0 1 1 0.032-128.032A64 64 0 0 1 640 864m0-192c-59.456 0-109.152 40.96-123.456 96H128v64h388.544c14.304 55.04 64 96 123.456 96s109.152-40.96 123.456-96H896v-64h-132.544c-14.304-55.04-64-96-123.456-96M384 576a64 64 0 1 1 0.032-128.032A64 64 0 0 1 384 576m0-192c-59.456 0-109.152 40.96-123.456 96H128v64h132.544c14.304 55.04 64 96 123.456 96s109.152-40.96 123.456-96H896v-64H507.456c-14.304-55.04-64-96-123.456-96"
          fill="#181818"></path></svg
      >
    </button>
  </div>
  <div class="filter hidden">
    <h3>{getTranslation('categories', lang)}</h3>
    <ul>
      {
        categories.map((cat: string) => {
          const url = new URL(currentUrl);
          url.searchParams.set('category', cat);
          const active = activeCategory === cat;
          return (
            <li class={active ? 'font-bold' : ''}>
              <a href={url}>{cat}</a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <div class="filter hidden">
    <h3>{getTranslation('tags', lang)}</h3>
    <ul>
      {
        tags.map((tag: string) => {
          const url = new URL(currentUrl);
          const currentTags = (url.searchParams.get('tag') || '')
            .split('-')
            .filter(Boolean);
          const active = currentTags.includes(tag);

          let newTags: string[];
          if (active) {
            newTags = currentTags.filter((t) => t !== tag);
          } else {
            newTags = [...currentTags, tag];
          }

          if (newTags.length > 0) {
            url.searchParams.set('tag', newTags.join('-'));
          } else {
            url.searchParams.delete('tag');
          }

          return (
            <li class={active ? 'font-bold' : ''}>
              <a href={url.toString()}>{tag}</a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <p class="filter hidden">
    <a href=`/${lang}/blog`>{getTranslation('reset', lang)}</a>
  </p>
</div>

<style>
  @reference "tailwindcss";

  .filters-mobile {
    backdrop-filter: blur(5px);
    border: 1px solid;
    @apply sticky top-16 w-full px-4 pt-4 sm:hidden bg-white/70 rounded-3xl shadow-lg border-t-stone-50/60 border-l-stone-50/60 border-r-stone-300/60 border-b-stone-300/60;
  }

  .filters-head {
    @apply flex gap-4 items-center justify-center mb-4;
  }

  .search-input {
    @apply w-full px-3 py-2 border border-gray-300 rounded;
  }

  .filters-icon {
    @apply w-8 h-8 text-gray-600;
  }

  .filter {
    @apply mb-4;

    &:not(:last-child) {
      @apply border-b border-gray-300 pb-4;
    }

    h3 {
      @apply text-lg font-bold mb-2;
    }

    ul {
      @apply list-inside ml-4;

      li {
        @apply mb-1;

        a {
          @apply text-gray-600 hover:text-amber-600;
        }
      }
    }
  }

  p {
    a {
      @apply text-red-600 hover:underline;
    }
  }
</style>

<script>
  const toggleButton = document.getElementById('toggle-filters');
  const filterSections = document.querySelectorAll('.filter');

  toggleButton?.addEventListener('click', () => {
    filterSections.forEach((section) => {
      section.classList.toggle('hidden');
    });
  });
</script>
