---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import CopySection from '@components/ui/CopySection.astro';
import Btn from '@components/ui/Btn.astro';
import {
  useTranslatedPath,
  getLangFromUrl,
  useTranslations,
} from '@i18n/utilities';
import Brand from '@components/brand.astro';
import { Icon } from 'astro-icon/components';
import { BOOKING_URL, LINKEDIN_URL } from '../../consts';

type LandingPage = CollectionEntry<'landing-pages'>;
// type Product = CollectionEntry<'products'>;

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

// Get solutions for footer
const allPages = await getCollection(
  'landing-pages',
  (entry: LandingPage) =>
    entry.data.lang === lang && entry.data.nav !== undefined,
);
const solutions = allPages.sort((a: LandingPage, b: LandingPage) => {
  const orderA = a.data.nav?.order ?? 999;
  const orderB = b.data.nav?.order ?? 999;
  return orderA - orderB;
});

// Get products for footer
// const allProducts = await getCollection(
//   'products',
//   (entry: Product) => entry.data.lang === lang,
// );
// const products = allProducts.sort((a: Product, b: Product) => {
//   const orderA = a.data.nav?.order ?? 999;
//   const orderB = b.data.nav?.order ?? 999;
//   return orderA - orderB;
// });
---

<footer>
  <div class="banner">
    <div class="container mx-auto">
      <CopySection>
        <Fragment slot="header-title">
          {t.footer.banner}
        </Fragment>
        <Fragment slot="footer">
          <a rel="noopener noreferrer" target="_blank" href={BOOKING_URL}>
            <Btn>
              {t.cta}
              <Icon name="fa7-solid:arrow-right" />
            </Btn>
          </a>
        </Fragment>
      </CopySection>
    </div>
  </div>

  <div class="footer">
    <div class="brand">
      <Brand coloredBackground />
    </div>
    <div class="rows">
      <ul>
        <li class="row-title">{t.footer.company}</li>
        <li><a href={translatePath('/')}>{t.footer.product}</a></li>
        <li><a href={translatePath('/support')}>{t.footer.contact}</a></li>
      </ul>
      <!-- <ul>
        <li class="row-title">{t.footer.products}</li>
        {
          products.map((product: Product) => (
            <li>
              <a href={translatePath(`/products/${product.data.pageSlug}`)}>
                {product.data.nav?.title}
              </a>
            </li>
          ))
        }
      </ul> -->
      <ul>
        <li class="row-title">{t.footer.solutions}</li>
        {
          solutions.map((page: LandingPage) => (
            <li>
              <a href={translatePath(`/for/${page.data.pageSlug}`)}>
                {page.data.nav?.title}
              </a>
            </li>
          ))
        }
      </ul>
      <ul>
        <li class="row-title">{t.footer.policies}</li>
        <li><a href={translatePath('/policies/terms')}>{t.footer.terms}</a></li>
        <li>
          <a href={translatePath('/policies/security')}>{t.footer.security}</a>
        </li>
        <li>
          <a href={translatePath('/policies/privacy')}>{t.footer.privacy}</a>
        </li>
        <li>
          <a href={translatePath('/policies/subprocessors')}
            >{t.footer.subprocessors}</a
          >
        </li>
      </ul>
      <ul>
        <li class="row-title">{t.footer.social}</li>
        <li>
          <a rel="noopener noreferrer" target="_blank" href={LINKEDIN_URL}>
            LinkedIn
          </a>
        </li>
      </ul>
      <ul>
        <li class="row-title">{t.footer.tools}</li>
        <li><a href="/tools/canitrust">Can I trust</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; {new Date().getFullYear()} Ansearch. {t.footer.copyright}</p>
      <p>{t.footer.madeWith}</p>
    </div>
  </div>
</footer>

<style>
  @reference "tailwindcss";

  footer {
    @apply bg-stone-700;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @apply gap-4 text-stone-300;

    .rows {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      @apply gap-4;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @apply gap-1;

        .row-title {
          font-weight: bold;
          @apply text-white;
        }
      }
    }
  }

  .brand {
    translate: 0 -50%;
    border: 1px solid;
    @apply bg-amber-200 to-amber-700 from-amber-200 bg-gradient-to-tl p-4 rounded-xl border-amber-700;
  }

  .rounded-rev {
    @apply rounded-tr-[2.5rem] bg-stone-700 h-16;
  }

  .container {
    backdrop-filter: blur(5px);
    border: 1px solid;
    @apply bg-white/50 rounded-3xl py-8 px-12 shadow-lg border-t-stone-50/60 border-l-stone-50/60 border-r-stone-300/60 border-b-stone-300/60;
  }

  .banner {
    background-color: lavender;
    background-image: url('../../images/bee-library.webp');
    background-size: cover;
    background-position: center;
    @apply py-16 px-2 md:p-16 rounded-b-[2.5rem];
  }
</style>
