---
import Footer from "@components/single-use/footer.astro";
import Navbar from "@components/single-use/navbar.astro";
import PostHog from "@components/single-use/posthog.astro";
import { defaultLang } from "@i18n/ui";
const { url, originPathname } = Astro;
const locale = Astro.currentLocale;
import { languages } from "@i18n/ui";
---

<html lang={locale}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Ansearch</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.svg" />
    <link href="/src/styles/global.css" rel="stylesheet" />
    {
      Object.entries(languages).map(([lang, _]) => (
        <link
          rel="alternate"
          hreflang={lang}
          href={`https://ansearch.net${lang === defaultLang ? originPathname.replace(`/${locale}`, "") : originPathname.replace(`/${locale}`, `/${lang}`)}`}
        />
      ))
    }
    <link rel="canonical" href={url} />
  </head>
  <body>
    <PostHog />
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
