---
export const prerender = false;
import LayoutDefault from '@layouts/LayoutDefault.astro';
import ContentVertical from '@components/position/ContentVertical.astro';
import Sidebar from '@components/single-use/blogsidebar.astro';
import FiltersMobile from '@components/single-use/blogfiltersmobile.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { getLangFromUrl } from '@/i18n/utilities';

const lang = getLangFromUrl(Astro.url);
const getTitle = (lang: string) => {
  switch (lang) {
    case 'fr':
      return 'Liste des articles';
    default:
      return 'Articles archive';
  }
};
const getNoResults = (lang: string) => {
  switch (lang) {
    case 'fr':
      return 'Désolé, aucun article ne correspond à vos critères.';
    default:
      return 'Sorry, no articles match your criteria.';
  }
};

const posts: CollectionEntry<'blog'>[] = (await getCollection('blog')).filter(
  (p: CollectionEntry<'blog'>) => p.data.lang === lang,
);
const categories = [...new Set(posts.flatMap((p) => p.data.categories))];
const tags = [...new Set(posts.flatMap((p) => p.data.tags || []))];

const url = new URL(Astro.url);
const activeCategory = url.searchParams.get('category');
const activeTags = url.searchParams.get('tag')?.split('-') || null;
const activeSearch = url.searchParams.get('q')?.toLowerCase() || null;

const filteredPosts = posts.filter((post) => {
  const front = post.data;
  const searchTable = [
    front.title,
    front.author,
    ...(front.tags || []),
    ...(front.categories || []),
    post.body,
  ];

  if (activeCategory && !post.data.categories.includes(activeCategory))
    return false;
  if (activeTags && activeTags.every((tag) => !post.data.tags.includes(tag)))
    return false;
  if (
    activeSearch &&
    searchTable.every((field) => !field.toLowerCase().includes(activeSearch))
  )
    return false;
  return true;
});
---

<LayoutDefault>
  <div class="blog-container">
    <Sidebar {categories} {tags} />
    <ContentVertical>
      <h1>Blog</h1>
      <FiltersMobile {categories} {tags} />
      <h2 class="results-list">{getTitle(lang)}</h2>
      <ul>
        {
          filteredPosts.length === 0 ? (
            <li>{getNoResults(lang)}</li>
          ) : (
            filteredPosts.map((post) => (
              <li>
                <a href={`blog/${post.slug}`}>{post.data.title}</a>
              </li>
            ))
          )
        }
      </ul>
    </ContentVertical>
  </div>
</LayoutDefault>

<style>
  .blog-container {
    display: flex;

    .flex-vertical {
      width: 100%;
    }
  }
</style>
