---
import { Icon } from 'astro-icon/components';
const randomId = Math.random().toString(36).substring(2, 9);
---

<div class="accordion-dropdown">
  <div class="header" id={`header-${randomId}`}>
    <slot name="header" />
    <div id={`icon-${randomId}`} class="icon">
      <Icon name="fa7-solid:chevron-down" />
    </div>
  </div>
  <div class="content visually-hidden" id={`content-${randomId}`}>
    <slot name="content" />
  </div>
</div>

<script is:inline lang="ts" define:vars={{ randomId }}>
  document.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById(`header-${randomId}`);
    const content = document.getElementById(`content-${randomId}`);
    const icon = document.getElementById(`icon-${randomId}`);
    btn?.addEventListener('click', () => {
      content?.classList.toggle('visually-hidden');
      icon?.classList.toggle('rotate-180');
    });
  });
</script>

<style>
  @reference "tailwindcss";

  .accordion-dropdown {
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    @apply border-stone-200;

    &:first-child {
      @apply rounded-t-xl border-none;

      .accordion-item-header {
        @apply rounded-t-xl;
      }
    }

    &:last-child {
      @apply rounded-b-xl;

      .header-closed {
        @apply rounded-b-xl;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    @apply gap-2 p-2;

    &:hover {
      @apply cursor-pointer bg-stone-100 text-amber-600;
    }
  }

  .content {
    @apply p-2;
  }

  .icon {
    transition: all 0.3s ease;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

  .rotate-180 {
    rotate: -180deg;
  }
</style>
